
#import modules

In [17]:
import pandas as pd
import requests


#get data from wiki
#obtain tables 
#get the first table

In [18]:
web=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').content
list_web = pd.read_html(web)
df = list_web[0]

#assign first row as column names

In [19]:
df.columns=['Postcode','Borough','Neighbourhood']
df.drop(axis=0,index=0,inplace=True)

#remove rows with 'not assigned'

In [20]:
df_a=df[df['Borough']!='Not assigned']
df_a.reset_index(drop=True, inplace=True)

#merge naborhood with the same postcode
#for unassigned Neighbourhood, use Borough as Neighbourhood

In [ ]:
df_b=df_a.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_b['Neighbourhood'][df_b['Neighbourhood']=='Not assigned']= df_b['Borough'][df_b['Neighbourhood']=='Not assigned']

#check df

In [22]:
df_b.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [23]:
df_b.shape

(103, 3)